<div class="content" id="content-new-donate" hidden="true">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h4 class="title">Cadastrar Doação</h4>
            </div>
            <div class="content">
                <form id="new-donate">
                    <div id='products-form'>
                        <div class="row row-identifier" id='products-row'>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Descrição do Produto</label>
                                    <input type="text" class="form-control border-input" name="description">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Validade</label>
                                    <input type="date" class="form-control border-input" name="validity">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label> Tipo</label>
                                    <input type="text" class="form-control border-input" name="product_type">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label> Quantidade</label>
                                    <input type="text" class="form-control border-input" name="amount">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label> Unidade</label>
                                    <select class="form-control" id="unit_measurement">
                                        <option>Gramas</option>
                                        <option>Quilogramas</option>
                                        <option>Litros</option>
                                        <option>Unidade</option>
                                    </select>
                                </div>                            
                            </div>
                            <div class="col-md-1" >
                                <div class="form-group">
                                    <label> &nbsp; </label>
                                    <i class="fa fa-plus btn-success form-control" id="button-display-success"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button id="submit-button" class="btn btn-info btn-fill btn-wd">Cadastrar Doação</button>
                    </div>
                </form>
            </div>
        </div>    
    </div>
</div>