<div class="sidebar" data-background-color="white" data-active-color="danger">



    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="" class="simple-text">
                Conexão Doadores
            </a>
        </div>

        <ul class="nav">
            <li id="dashboard" class="active">
                <a href="#dashboard" target="_top">
                    <i class="ti-panel"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li id="user">
                <a href="#user" target="_top">
                    <i class="ti-user"></i>
                    <p>Perfil do Usuário</p>
                </a>
            </li>
            <li id="donates">
                <a href="#donates" target="_top">
                    <i class="ti-truck"></i>
                    <p>Doações</p>
                </a>
            </li>
            <li id="products">
                <a href="#products" target="_top">
                    <i class="ti-shopping-cart"></i>
                    <p>Produtos</p>
                </a>
            </li>
            <li id="user-managments">
                <a href="#user-managments" target="_top">
                    <i class="ti-server"></i>
                    <p>Controle de Usuários</p>
                </a>
            </li>
            <li id="notifications">
                <a href="#notifications" target="_top">
                    <i class="ti-bell"></i>
                    <p>Notificações</p>
                </a>
            </li>
        </ul>
    </div>
</div>