<div class="sidebar" data-background-color="white" data-active-color="danger">



    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="" class="simple-text">
                Conexão Doadores
            </a>
        </div>

        <ul class="nav">
            <li id="dashboard" class="active">
                <a href="#dashboard" target="_top">
                    <i class="ti-truck"></i>
                    <p>Doações</p>
                </a>
            </li>
            <li id="new-donate">
                <a href="#new-donate" target="_top">
                    <i class="ti-write"></i>
                    <p>Cadastrar Doação</p>
                </a>
            </li>
            <li id="user">
                <a href="#user" target="_top">
                    <i class="ti-user"></i>
                    <p>Perfil do Usuário</p>
                </a>
            </li>
        </ul>
    </div>
</div>